<tr>
  <td><%=box.id%></td>
  <td><%=box.name%></td>
  <td><%=box.gender%></td>
  <td><%=box.search_terms%></td>
  <td><%=box.modifiers%></td>
  <td><%=box.created_at%></td>
  <td><%=box.updated_at%></td>
  <td><%=box.address%></td>
  <td><%=link_to "offers", employee_box_offers_path(box)%></td>
</tr>
