<%=render partial: "partials/crumb", locals: {active: @box.name, passive: [link_to("Home", customer_boxes_path)]}%>

<div class="row">
  <%=render partial: "partials/horizontal_box_tabs", locals: {box: @box, active: "archived"}%>
  <%=render partial: "partials/box_tabs", locals: {box: @box, active: "archived"}%>
  <div class="col-10 d-none d-md-block">
    <%= render partial: "card_column", locals: {completed_offers: @completed_offers}%>
  </div>
  <div class="col-12 d-md-none">
    <%= render partial: "card_column", locals: {completed_offers: @completed_offers}%>
  </div>
