<div class="col-sm-6">
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4">
        <%=offer.image.attached? ? image_tag(offer.image, class:"card-img") : nil %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%=offer.title%></h5>
          <h5 class="card-subtitle text-muted"><%=offer.merchant_name%></h5>
          <p class='card-text'><%=offer.description%></p>
          <p class='card-text'>Selected Option: <%=offer.selected_option%></p>

          <%= simple_form_for(offer, url: customer_completed_offer_path(offer)) do |f| %>
          <%=f.input :selected_option,
                      label: "options",
                      as: :radio_buttons,
                      collection: offer.options,
                      wrapper_html: {class: ['i-checks']},
                      item_wrapper_tag: :div,
                      presence: true%>
            <%= f.button :submit, "change your mind", class:["btn-sm", "btn-w-m btn-primary"] %>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>
