<div class="card">
  <table class="table table-sm table-borderless m-1">
    <tr>
      <th width="40px">Request</th>
      <td class="text-left"><%=box.name%></td>
    </tr>
    <tr>
      <th>Priority</th>
      <td><%=box.priority.present? ? box.priority : "not stated"%></td>
    </tr>
    <tr>
      <th>Price</th>
      <td><%=box.price_range%>
      </td>
    </tr>
    <tr>
      <th>Notes</th>
      <td><%=truncate(box.search_terms,length: 30)%>
        <%if box.search_terms.length > 30 %>
          <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="<%=box.search_terms%>">
            more
          </a>
        <%end%>
      </td>

    </tr>
    <tr>
      <td></td>
      <td>
        <%if box.user == current_user%>
          <%=link_to "history", customer_box_offers_path(box)%>
        <%else%>
          <%=link_to "history", customer_foreign_box_path(box)%>
        <%end%>
      </td>
    </tr>

  </table>

  <div class="card-footer panel-custom">
    <%if box.user == current_user%>
    <%=link_to "edit", edit_customer_box_path(box), class:"btn btn-dark btn-sm font-weight-bolder"%>
    <%=button_to "archive", customer_box_path(box), class:"btn btn-dark btn-sm font-weight-bolder", method: :patch, params: {'box[status]' => "archive"}%>

      <%else%>
      <%=render partial: "partials/recommendation_form"%>
      <%end%>
  </div>
</div>
