<%case active%>
<%when "offer"%>
<%offer = "active"%>
<%when "archived"%>
<%archived = "active"%>
<%when "follower"%>
<%follower = "active"%>
<%when "following"%>
<%following = "active"%>
<%when "settings"%>
<%settings = "active"%>
<%end%>

<div class="d-md-none">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <%=link_to "Offers", customer_box_offers_path(@box), html_options = {class: "nav-link #{offer if offer.present?}"}%>
    </li>
    <li class="nav-item">
      <%=link_to "Archived", customer_box_completed_offers_path(@box), html_options = {class: "nav-link #{archived if archived.present?}"}%>
    </li>
    <%if box.public?%>
      <li class="nav-item">
        <%=link_to "Followers", customer_box_subscribers_path(box_id: box.id), html_options = {class: "nav-link #{follower if follower.present?}"}%>
      </li>
    <%else%>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Followers</a>
      </li>
    <%end%>
    <li class="nav-item">
      <%=link_to "Following", customer_box_subscriptions_path(box_id: box.id), html_options = {class: "nav-link #{following if following.present?}"}%>
    </li>
    <li class="nav-item">
      <%=link_to "Settings", edit_customer_box_path(box), html_options = {class: "nav-link #{settings if settings.present?}"}%>
    </li>
  </ul>
</div>
