<nav class="navbar navbar-light">
  <%= link_to fa_icon("adn 2x",text:"logo"), "", class:"navbar-brand"%>
  <%if user_signed_in? %>
      <%if current_user.customer?%>
        <%=render 'partials/navbars/customer'%>
      <%elsif current_user.merchant?%>
        <%=render 'partials/navbars/merchant'%>
      <%elsif current_user.employee?%>
        <%=render 'partials/navbars/employee'%>
      <%elsif current_user.admin?%>
        <%div=render 'partials/navbars/admin'%>
      <%end%>
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <%=link_to fa_icon("user 2x", text: "Profile"), user_path(current_user), class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%=link_to fa_icon("sign-out 2x", text: "Sign-out"), destroy_user_session_path, method: :delete, class:"nav-link" %>
          </li>
        </ul>
  <%else%>
    <%=render "partials/navbars/logged_out"%>
  <%end%>
</nav>
