<%link0,link1,link2,link3,link4 = "white","white","white","white","white"%>
<%case active%>
<%when 0%>
<%link0 = "pink"%>
<%when 1%>
<%link1 = "pink"%>
<%when 2%>
<%link2 = "pink"%>
<%when 3%>
<%link3 = "pink"%>
<%when 4%>
<%link4 = "pink"%>
<%end%>

<nav class="navbar fixed-top navbar-expand-sm rounded-lg">
<%=link_to image_tag('dealsfordatalogosmall.png', class:"navbar-brand"), root_path%>

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
  <span class="fa fa-bars" style="color:#fff; font-size:28px;"></span>
</button>

<div class="collapse navbar-collapse" id="navbarsExample03">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item ">
      <%=link_to "Log out", destroy_user_session_path, class:"nav-link font-weight-bolder text-#{link0}", method: :delete%>
    </li>
    <li class="nav-item ">
      <%=link_to "See requests", root_path, class:"nav-link font-weight-bolder text-#{link1}"%>
    </li>
    <li class="nav-item">
      <span class="nav-link font-weight-bolder text-<%=link2%>" data-toggle="modal" data-target="#newBoxModal">
        Make a request
      </span>
    </li>
    <li class="nav-item ">
      <%=link_to "See your requests", customer_boxes_path, class:"nav-link font-weight-bolder text-#{link3}"%>
    </li>
    <li class="nav-item">
      <%=link_to "Settings", customer_user_path(current_user), class:"nav-link font-weight-bolder text-#{link4}"%>
    </li>
  </ul>
</div>
</nav>
