<ul class="nav justify-content-center">
  <li class="nav-item">
    <%=link_to fa_icon("gift 2x",text:"offers"), "", class:"nav-link" %>
  </li>
  <li class="nav-item">
    <%=link_to fa_icon("archive 2x",text:"purchased"), "", class:"nav-link" %>
  </li>
  <li class="nav-item">
    <%=link_to fa_icon("history 2x",text:"history"), "", class:"nav-link" %>
  </li>
  <li class="nav-item">
    <%=link_to fa_icon("question-circle 2x", text:"questions"), "", class:"nav-link" %>
  </li>
</ul>

<ul class="nav justify-content-end">
  <li class="nav-item">
    <%=link_to fa_icon("user 2x", text: "Profile"), customer_path(current_user), class:"nav-link" %>
  </li>
  <li class="nav-item">
    <%=link_to fa_icon("sign-out 2x", text: "Sign out"), destroy_user_session_path, :method => :delete, class:"nav-link" %>
  </li>
</ul>
