  <ul class="nav justify-content-center">
    <li class="nav-item">
      <%=link_to "current campaign info", "", class:"nav-link" %>
    </li>
    <li class="nav-item">
      <%=link_to "history", "", class:"nav-link" %>
    </li>
    <li class="nav-item">
      <%=link_to "coupons", "", class:"nav-link" %>
    </li>
  </ul>
<ul class="nav justify-content-end">
  <li class="nav-item">
    <%=link_to fa_icon("user 2x", text: "Profile"),
                merchant_user_path(current_user),
                class:"nav-link" %>
  </li>
  <li class="nav-item">
    <%=link_to fa_icon("sign-out 2x", text: "Sign out"),
              destroy_user_session_path, method: :delete,
              class:"nav-link" %>
  </li>
</ul>
