<tr>
  <td><%=link_to "Profile",employee_customer_path(customer)%></td>
  <td><%=customer.email%></td>
  <td><%=customer.search_terms%></td>
  <td><%=customer.keywords%></td>
  <td><%=customer.modifiers%></td>
  <td><%=link_to "offer history", </td>
  <td>txn history TODO</td>
</tr>
