<%render partial: "partials/crumb", locals: {active: @box.name, passive: [link_to("home", root_path)]}%>

<table class="table">
  <tr>
    <th>Name</th>
    <td><%=@box.name%>
      </tr>
  <th>Status</th>
  <td><%=@box.status if @box.status.present?%></td>
  </table>

  Reviewed offers
  <table class="table">
    <tr>
      <th>Recommendation</th>
      <th>Info</th>
      <th>feedback</th>
    </tr>
    <%=render partial: 'offer', collection: @old_offers%>
  </table>
</div>


<div class="col-12 d-md-none">
  Offers not reviewed
  <table class="table">
    <tr>
      <th>Image</th>
      <th>Title</th>
      <th>feedback</th>
    </tr>
    <%=render partial: 'offer', collection: @active_offers%>
  </table>

  Reviewed offers
  <table class="table">
    <tr>
      <th>Image</th>
      <th>Title</th>
      <th>feedback</th>
    </tr>
    <%=render partial: 'offer', collection: @old_offers%>
  </table>
</div>
