<%render partial: "partials/crumb", locals: {active: @box.name, passive: [link_to("home", root_path)]}%>
  <table class="table">
    <tr>
      <th width="40px">Name</th>
      <td><%=@box.name%>
      </tr>
      <tr>
        <th>Status</th>
        <td><%=@box.status if @box.status.present?%></td>
      </tr>
      <tr>
        <th>recommendations awaiting review</th>
        <td><%=@active_offers.count%></td>
      </tr>
    </table>

    <h5>Reviewed offers</h5>
    <table class="table">
      <tr>
        <th>Recommendation</th>
        <th>Info</th>
        <th>feedback</th>
      </tr>
      <%=render partial: 'offer', collection: @old_offers%>
    </table>

<%=render partial: 'partials/recommendation_form'%>
