<tr>
  <td><%if offer.image.attached?%>
    <%if offer.image.variable?%>
      <%=image_tag(offer.image.variant(resize_to_limit: [150,150]), class:"img-thumbnail")%>
    <%else%>
      <p>image attached but can't be shown</p>
    <%end%>
  <%end%></td>
  <td><%=offer.title%></td>
  <td><%=offer.current_price%></td>
  <td><%=offer.retail_price%></td>
  <td><%=offer.commentary%></td>
</tr>
