<tr>
  <td><%=link_to "Profile",employee_customer_path%></td>
  <td><%=customer.email%></td>
  <td><%=customer.search_terms%></td>
  <td><%=customer.keywords%></td>
  <td><%=customer.modifiers%></td>
  <td>link to customer offer history</td>
  <td>txn history TODO</td>
</tr>
