<h1>customer show page</h1>

<div class="row">
  <div class="col-sm-6">
    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-md-4">
          <%= image_tag(current_user.identicon, class:"card-img") %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5Cards class="card-title">Your Account Details</h5>
            <p class='card-text'><%=link_to "Change password", edit_user_registration_path %></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Attached cards</h5>
        <p>You have

          cards attached
        </p>
        <p class="card-text"></p>
        <p><%=render 'partials/plaid_link'%></p>
      </div>
    </div>
  </div>


    <div class="col-sm-6">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Your Search Profile</h5>
          <p class="card-text"></p>
          <p>Your search terms:</p>
          <p><%=current_user.search_terms%></p>
          <p>keywords: <%=current_user.keywords%></p>
          <p>modifiers: There shouldn't be anything here since this may be hidden from the user eventually <%=current_user.modifiers%></p>
          <%= link_to "update search and keywords", edit_customer_path(current_user)%>
        </div>
      </div>
    </div>
</div>
