<div class="container-sm mx-auto">
  <div class="card">
    <div class="card-body">
      <%=offer.html.html_safe if offer.html.present?%>
      <p></p>
      <%if offer.retail_price.present?%>
        <p><%=offer.retail_price%> <%="discounted to #{offer.current_price}" if offer.current_price.present?%></p>
      <%end%>
      <%if offer.commentary.present?%>
        <p class='font-weight-bold'>Notes from Wishjar:</p>
        <p><%=offer.commentary%></p>
      <%end%>
      <%= referralInfo(offer: offer)%>
      <%= simple_form_for(offer, url: customer_offer_path(offer.id), method: :put) do |f| %>
      <div class = "form-group">
        <%=f.input :selected_option,
                  as: :radio_buttons,
                  collection: offer.options,
                  required: true,
                  wrapper_html: {class:"form-check-inline"},
                  label: "What do you think?"
                  %>
      </div>
      <%=f.input :received_commentary,
                  label: "Your commentary:",
                  label_html: {class: "font-weight-bold"}%>
      <%= f.button :submit, "submit", class:["btn-sm", "btn-w-m btn-primary"] %>
    <%end%>
  </div>
</div>
</div>
