<div class="container-sm mx-auto">
  <div class="card">
    <div class="card-body">
      <%=offer.html.html_safe%>
      <%= referralInfo(offer: offer)%>
      <%= simple_form_for(offer, url: customer_offer_path(offer.id)) do |f| %>
      <div class = "form-group">
        <%=f.input :selected_option,
                  as: :radio_buttons,
                  collection: offer.options,
                  required: true,
                  wrapper_html: {class:"form-check-inline"}%>
      </div>
      <%= sendOffer(offer: offer, f: f) %>
      <%=f.input :commentary,
                  label: "your commentary"%>
      <%= f.button :submit, "select", class:["btn-sm", "btn-w-m btn-primary"] %>
    <%end%>
  </div>
</div>
</div>
