<%=render partial: "partials/crumb", locals: {active: "Offers", passive: [link_to("Home", customer_boxes_path), link_to(@box.name, customer_box_path(@box))]}%>

<div class="row">
<%=render partial: "partials/box_tabs", locals: {box: @box, active: "offer"}%>
    <div class='col-1'></div>
    <div class='col-6'>
      <h2 class="text-center font-weight-bold">Offers available for you</h2>
      <p class="text-center font-weight-light">Based on your feedback and comments, our algorithm will learn your preferences and send you more relevant offers.</p>
      <p class="text-center font-weight-bold">
        <%if @approved_count.zero?%>
        No offers available
        <%else%>
        Offer 1 of <%=@approved_count%>
      <%end%>
    </p>
    <%= ShowApprovedOffer(offer: @offer)%>
    <p></p>
    <p class="text-center font-weight-bold">
      <%if @approved_count.zero?%>
      <%else%>
      Offer 1 of <%=@approved_count%>
      <%end%>
    </p>
    </div>
    <div class='col-3'></div>
</div>
