<%render partial: "partials/crumb", locals: {active: "#{@offer.title}", passive: [link_to("Home", customer_boxes_path), link_to(@box.name, customer_box_path(@box))]}%>

<ul>
  <li>title: <%=@offer.title%></li>
  <li>description: <%=@offer.description%></li>
  <li>options: <%=@offer.options%></li>
  <li>selected option: <%=@offer.selected_option%></li>
  <li>Merchant: <%=@offer.merchant.name%></li>
</ul>
