
<tr>
  <td><%=offer.approved%></td>
  <td><%=offer.status%></td>
  <td><%=offer.updated_at%></td>
  <td><%=offer.description%></td>
  <td><%=offer.tags%></td>
  <td><%=offer.options%></td>
  <td><%=offer.selected_option%></td>
  <td><%=offer.campaign.name%></td>
  <td><%=offer.image.attached? ? image_tag(offer.image.variant(resize_to_limit: [300,300])) : nil%></td>
  </tr>
