<div class="card">
  <div class="card-body">
    <h5 class="card-title">Title: <%=box.name%></h5>
    <p class='card-text'>Search terms:
      <%=box.search_terms%></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Gender:<%=box.gender || "none" %></li>
    <li class="list-group-item">Location:<%=box.address%></li>
    <li class="list-group-item">Keywords:<%=box.keywords%></li>
  </ul>
  <div class="card-body">
    <%= render partial: @box_links, locals: {box: box} %>
  </div>
</div>
