<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page"><%=link_to "Home", customer_user_boxes_path(current_user)%></li>
        <li class="breadcrumb-item active" aria-current="page">box <%=@box.name%></li>
  </ol>
</nav>

<h1>customer edit box page TODO - modify this with June to make right</h1>

  <%=simple_form_for(@box, url: customer_box_path) do |f|%>
      <%=f.input :name,
                presence: true,
                wrapper_html: {class: "form-group row"},
                label_html: {class: "col-sm-2 col-form-label"},
                input_html: {class: "col-sm-10 form-control"}%>
      <%=f.input :search_terms,
                  presence: true,
                wrapper_html: {class: "form-group row"},
                label_html: {class: "col-sm-2 col-form-label"},
                input_html: {class: "col-sm-10 form-control"}%>
      <%=f.input :public,
                as: :boolean,
                checked_value: true,
                unchecked_value: false%>
      <%=f.input :allow_email,
                as: :boolean,
                checked_value: true,
                unchecked_value: false%>
      <%=f.input :background,
                  as: :radio_buttons,
                  collection: [["beige","f0f4c3"],["pink","fff8e1"],["grey","f5f5f5"]]%>
      <%=f.button :submit%>
    <%end%>
