customer new box file

<%=simple_form_for @box, url:customer_user_boxes_path do |f| %>
<%=f.input :name, label: "Name Your Box", presence: true%>
<%=f.input :search_terms, presence: true %>
<%=f.input :gender, collection: ["male", "female"]%>
<%=f.input :street%>
<%=f.input :city%>
<%=f.input :state%>
<%=f.input :country%>
<div data-controller="tag">
<%=f.input :keywords, as: :hidden, placeholder: "add one tag at a time", input_html: {'data-target': "tag.keyword" }%>
  <input data-target="tag.name" type="text">

  <button data-action="click->tag#add">
    Add Tag
  </button>
  <button data-action="click->tag#reset">
    reset tags
  </button>
  <span data-target="tag.output"></span>
</div>
<%= f.button :submit, "submit", class:["btn-sm", "btn-w-m btn-primary"] %>
<%end%>
