<tr>
  <td><%=link_to "Profile",employee_user_path(customer)%></td>
  <td><%=customer.email%></td>
  <td><%=customer.search_terms%></td>
  <td><%=customer.keywords%></td>
  <td><%=customer.modifiers%></td>
  <td><%=link_to "Boxes", employee_user_boxes_path(customer) %></td>
  <td>txn history TODO</td>
</tr>
