<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>
    <h2>New offer for Box <%=@box.name%></h2>
    <p><%=image_tag(@offer.image.variant(resize_to_limit: [200,200]))%></p>
    <p style="font-weight:bold;"><%=@offer.title%></p>
    <p><%=@offer.description%></p>
    <%="currently #{@offer.current_price}" if @offer.current_price.present?%> <%="discounted from #{@offer.retail_price}" if @offer.retail_price.present?%>
    <%if @offer.received_commentary.present?%>
      <p>commentary: <%=@offer.received_commentary%></p>
    <%end%>
    <p>To check it out, just follow this link:
      <%= @url %>.
    </p>
    <p>Happy curating!</p>
  </body>
</html>
