<!DOCTYPE html>
<html>
  <head>
    <title>Dealsfordata</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= render "partials/navbar", locals: @user_role %>
    <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="7de81187-39b3-4a29-b534-a81ec5395b69";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>

  </head>

  <body class="background">
    <%= render "layouts/messages" %>
    <div class="container main shadow p-3 mb-5 bg-white rounded" %>

      <%= yield %>

    </div>
  </body>
</html>
