<!DOCTYPE html>
<html>
  <head>
    <title>Dealsfordata</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="background">
    <%= render "partials/navbar" %>
    <%= render "layouts/messages" %>
    <div class="container main shadow p-3 mb-5 bg-white rounded" %>

      <%= yield %>

    </div>
  </body>
</html>
