<!DOCTYPE html>
<html>
  <head>
    <title>Dealsfordata</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= render "partials/navbar", locals: @user_role %>
  </head>

  <body class="background">
    <%= render "layouts/messages" %>
    <div class="container main shadow p-3 mb-5 bg-white rounded" %>

      <%= yield %>

    </div>
  </body>
</html>
